/config.json
/twitch get_streams_example.json
/twitch_get_user_example.json
/.idea/inspectionProfiles/
/.idea/.gitignore
/.idea/discord.xml
/.idea/Discord Notify Bot.iml
/.idea/modules.xml
/.idea/vcs.xml
/data.json
__pycache__/twitch.cpython-39.pyc
